/*
*    Licensed to the Apache Software Foundation (ASF) under one or more
*    contributor license agreements.  See the NOTICE file distributed with
*    this work for additional information regarding copyright ownership.
*    The ASF licenses this file to You under the Apache License, Version 2.0
*    (the "License"); you may not use this file except in compliance with
*    the License.  You may obtain a copy of the License at
*
*        http://www.apache.org/licenses/LICENSE-2.0
*
*    Unless required by applicable law or agreed to in writing, software
*    distributed under the License is distributed on an "AS IS" BASIS,
*    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
*    See the License for the specific language governing permissions and
*    limitations under the License.
*/
body {
	background-color: #eee;
}

.container-fluid {
	background-color: #fff;
}

#page-wrapper, #replicationPolicies {
	padding: 20px;
}

.navbar-default {
	background-color: #fff;
}

.navbar-nav .active {
	border-bottom: 2px solid #5bb75b;
}

.data-manager-panels .panel {
	border-radius: 0;
	min-height: 162px;
}

.upcoming-panels {
	border-style: dashed;
	color: grey;
}

.data-manager-panels .panel-heading, .data-manager-panels .panel-footer {
	background-color: #fff;
	border: none;
}

.panel-sub-heading {
	color: grey;
	font-size: 12px;
}

.navbar-fixed-left {
	border-radius: 0;
	height: 100%;
	background-color: white;
}

.nav-list {
	float: none;
	width: 250px;
}

.navbar-fixed-left + .container {
	padding-left: 30px;
}

.navbar-custom >li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-icons {
	display: block;
	text-align: center;
}

.modal-content {
	border-radius: 0;
}

.modal-header, .modal-footer {
	background-color: #f8f8f8;
}

.modal-footer {
	padding: 8px 15px;
}

.tab-content {
	padding: 10px;
}

.smaller-font {
	font-size: 12px;
}

.nav-tabs>li>a {
	border-radius: 0;
	text-decoration: none;
	display: inline-block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #5bb75b;
	border: 1px solid transparent;
	border-bottom: 3px solid #5bb75b;
	background-color: transparent;
}

.replication-policy-content {
	padding: 20px;
}

//.replication-policy-content .nav>li {
//	width: 50%;
//}

.replication-policy-content .panel {
	border-radius: 0;
}

.replication-policy-content .panel-default {
	border-color: #ccc;
}

.replication-policy-content .create-replication-policy-tab .panel-body {
	padding-top: 0;
	padding-bottom: 0px;
}

.replication-policy-content .row {
	border-bottom: 1px solid #ccc;
}

.replication-policy-content .row:last-child {
	border-bottom: 0;
}

.replication-policy-content .row >div {
	border-right: 1px solid #ccc;
	padding: 10px 25px;
}

.replication-policy-content .row div:last-child {
	border-right: 0;
}

.width-forty-percent {
	width : 40%;
}

.pr5 {
	padding-right: 5px;
}

.replication-policy-content .fa-exclamation-triangle, .fa-exclamation-circle {
	color: #ffa500;
}

.replication-policies-list {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	margin-top: 10px;
}

.replication-policies-list>thead>tr>th {
	border-bottom: 1px;
}

.replication-policies-title {
	font-size: 16px;
	font-weight: bold;
}

.data-manager-panels .fa-question-circle-o {
	color: #337ab7;
}

.pairing-container {
	margin-right: 0;
	margin-left: 0;
	background-color: #fff;
	border-color: #ddd;
	border-width: 1px;
	box-shadow: none;
	padding: 10px;
}
