<div id="wrapper">
  <div class="container-fluid" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:void(0)" {{action 'goToHomePage'}}>Data Manager</a>
    </div>
    <ul class="nav navbar-nav navbar-right navbar-custom">
      <li>
        <a href="" class="smaller-font"><i class="fa fa-tasks pr5 navbar-icons"></i>MONITOR JOBS</a>
      </li>
      <li>
        {{!--#link-to "data-manager.replication-policies" class="smaller-font"--}}
          <a href="" class="smaller-font"><i class="fa fa-files-o pr5 navbar-icons"></i>REPLICAITON POLICIES</a>
        {{!--/link-to--}}
      </li>
      <li>
        <a href="" class="smaller-font"><i class="fa fa-object-ungroup pr5 navbar-icons"></i>INCOMING POLICIES</a>
      </li>
    </ul>
  </div>
  <div id="page-wrapper">
    <div>
      {{#if (gt model.registeredClusters.length 0)}}
        <div class="col-xs-3">
          {{#left-nav-bar currentCluster=model.currentCluster registeredClusters=model.registeredClusters}}{{/left-nav-bar}}
        </div>
        <div class="col-xs-12">
          {{outlet}}
        </div>
      {{else}}
          {{outlet}}
      {{/if}}
    </div>
  </div>
</div>
